header {
    background-color: aliceblue;
    padding: 40px;
}


.header-logo  {
    float: left;
    height: auto;
    text-align: center;
    margin-top: -20px;
}

.header-menu li {
    float: left;
    list-style: none;
    color:black;
    margin: -20px 0 40px 40px;
}


.top-wrapper {
    padding : 100px 0px;
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    height: auto;
}

.top-wrapper h1 {
    color:aliceblue;
    font-size:80px;
    text-align:left;
}