body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}


header {
    background-color: rgb(255, 255, 255);
    height: 65px;
    width: 100%;
}
a {
    text-decoration: none;
    color:dimgray
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

}



.header-left {
    float: left;
    height: 65px;   
}

.header-logo {
    width: 200px;
    margin-top: -20px;
    

}

.header-menu li {
    
    display: inline-block;
    list-style: none;
    color:black;
}


.top-wrapper {
    padding : 100px;
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    height: auto;
}

.top-wrapper h1 {
    color:aliceblue;
    font-size:80px;
    text-align:left;
}