header {
    background-color: aliceblue;
    padding: 40px;
}
a {
    text-decoration: none;
    color:dimgray
}

li {
    list-style: none;
    color:dimgray
}



.header-logo  {
    float: left;
    height: auto;
    text-align: center;
}

.header-menu li {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    color:black;
}


.top-wrapper {
    padding : 100px 0px;
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    height: auto;
}

.top-wrapper h1 {
    color:aliceblue;
    font-size:80px;
    text-align:left;
}